In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model
from matplotlib import pyplot as plt
%matplotlib inline

# Data Load: Load banglore home prices into a dataframe

In [2]:
df1 = pd.read_csv("House_Prices.csv")
df1.head()

   size  total_sqft  bath  balcony  price
0     2        1056     2        1     39
1     3        1440     2        3     62
2     3        1521     3        1     95
3     2        1200     2        1     51
4     2        1170     2        1     38

In [3]:
df1.shape

(10180, 5)

In [4]:
df1.isnull().sum()

size          0
total_sqft    0
bath          0
balcony       0
price         0
dtype: int64

In [5]:
obj = linear_model.LinearRegression()
obj.fit(df1[['size','total_sqft','bath','balcony']],df1.price)

LinearRegression()

In [6]:
obj.predict([[3,1440,2,3]])

C:\Users\Rizwan\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\base.py:445: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([65.41125214])

In [7]:
import pickle
pickle.dump(obj , open('model.pkl','wb'))
model = pickle.load(open('model.pkl','rb'))